{% extends "base.html" %}
{% load static %}

{% block title %}Piano Game{% endblock title %}

{% block content %}
<div class="container border border-dark rounded landing-page">
    <div class="float-end">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="text-center">
        <h1>Piano Music Game</h1>
        <a href="{% url 'account_login' %}" class="btn btn-outline-dark mt-4 rounded">Login</a>
    </div>
    <div class="text-center mt-4">
        <h2 class="d-inline p-2">Are you a New User?</h2>
        <p><a href="{% url 'account_signup' %}" class="btn btn-secondary d-inline p-2 rounded">Please Register Here</a></p>
    </div>
</div>
{% endblock content %}