{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
            <img class="logo" src="{% static 'images/tunes-logo.png' %}" alt="Tunes Logo">
            <span class="ms-2 text-uppercase fw-bold text-light">Tunes</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'piano' %}">
                        <i class="fas fa-music"></i> Play!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'leaderboard' %}">
                        <i class="fas fa-list"></i> Leaderboard
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'account_logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light d-flex align-items-center" href="{% url 'profile' user.pk %}">
                            <img src="{{ user.profile_image.url }}" alt="Profile Image" class="rounded-circle" height="30">
                            <span class="ms-2">{{ user.username }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'account_signup' %}">
                            <i class="fas fa-user-plus"></i> Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'account_login' %}">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>