{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div id = "keyboard">
    <div class = "white-key" id="C"></div>
    <div class = "black-key one" id="C#"></div>
    <div class = "white-key" id="D"></div>
    <div class = "black-key two" id="D#"></div>
    <div class = "white-key" id="E"></div>
    <div class = "white-key" id="F"></div>
    <div class = "black-key three" id="F#"></div>
    <div class = "white-key" id="G"></div>
    <div class = "black-key four" id="G#"></div>
    <div class = "white-key" id="A"></div>
    <div class = "black-key five" id="A#"></div>
    <div class = "white-key" id="B"></div>
</div>

<audio id="C-audio" src="{% static 'audio/C4v3.flac' %}"></audio>
<audio id="A-audio" src="{% static 'audio/A0v3.flac' %}"></audio>

{% endblock %}