{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Add HTML Here -->
<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <h3>Choose Your Avatar!</h3>
    <form>
        <!-- <div class="row">
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="option1">
                    <img src="image1.jpg" alt="Option 1">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="option2">
                    <img src="image2.jpg" alt="Option 2">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="option3">
                    <img src="image3.jpg" alt="Option 3">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="option4">
                    <img src="image4.jpg" alt="Option 4">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="option5">
                    <img src="image5.jpg" alt="Option 5">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="option6">
                    <img src="image6.jpg" alt="Option 6">
                </label>
            </div>
        </div> -->
        <div class="row">
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="mozart">
                    <img src="../../../static/images/avatars/avatar1.webp" alt="Mozart">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="bach">
                    <img src="../../../static/images/avatars/avatar2.webp" alt="Bach">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="chopin">
                    <img src="../../../static/images/avatars/avatar3.webp" alt="Chopin">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="tchaikovsky">
                    <img src="../../../static/images/avatars/avatar4.webp" alt="Tchaikovsky">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="vivaldi">
                    <img src="../../../static/images/avatars/avatar5.webp" alt="Vivaldi">
                </label>
            </div>
            <div class="col text-center">
                <label class="radio-label">
                    <input type="radio" name="options" value="beethoven">
                    <img src="../../../static/images/avatars/avatar6.webp" alt="Beethoven">
                </label>
            </div>
        </div>
        <h3>Choose A Player Name...</h3>
        <div class="input-group">
            <input type="text" aria-label="Player Name" placeholder="name" class="form-control">
        </div>
        <h3>Choose Your Difficulty</h3>

        <div class="button-group">
            <button type="button" class="btn btn-circle">1</button>
            <button type="button" class="btn btn-circle">2</button>
            <button type="button" class="btn btn-circle">3</button>
        </div>
    </form>
</div>


{% endblock %}