{% extends "base.html" %} {% load static %} {% block content %}

<!-- Add HTML Here -->
<div class="container-fluid text-center mt-4">
  <div>
    <h1>Meet the Team Tunes</h1>
    <hr />
    <div class="card-container mt-4 row justify-content-center">
      <div class="card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <h2 class="name">Ludwig van Beethoven</h2>
          <img
            class="circle-img"
            src="{% static 'images/default-img.png' %}"
            alt="avatar_img"
          />
        </div>
        <div class="bottom">
          <p class="role">Scrum Master</p>
          <p class="info">Erfan, Say something about Yourself</p>
        </div>
      </div>
      <div class="card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <a
            href="https://www.linkedin.com/in/marlon-mandaya-544172234/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <h2 class="name">Wolfgang Amadeus</h2>
          <img
            class="circle-img"
            src="{% static 'images/default-img.png' %}"
            alt="avatar_img"
          />
        </div>
        <div class="bottom">
          <p class="role">Team Lead</p>
          <p class="info">Marlon, Say something about Yourself</p>
        </div>
      </div>
      <div class="card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <a
            href="https://www.linkedin.com/in/noah-al-samawi-058583197/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <h2 class="name">Antonio Vivaldi</h2>
          <img
            class="circle-img"
            src="{% static 'images/default-img.png' %}"
            alt="avatar_img"
          />
        </div>
        <div class="bottom">
          <p class="role">Tester/QA Engineer</p>
          <p class="info">Noah, Say something about Yourself</p>
        </div>
      </div>
      <div class="card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <h2 class="name">Fanny Mendelssohn</h2>
          <img
            class="circle-img"
            src="{% static 'images/default-img.png' %}"
            alt="avatar_img"
          />
        </div>
        <div class="bottom">
          <p class="role">UX Designer</p>
          <p class="info">Mehtap, Say something about Yourself</p>
        </div>
      </div>
      <div class="card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <h2 class="name">Johann Sebastian Bach</h2>
          <img
            class="circle-img"
            src="{% static 'images/default-img.png' %}"
            alt="avatar_img"
          />
        </div>
        <div class="bottom">
          <p class="role"> Product Owner</p>
          <p class="info">Liam, Say something about Yourself</p>
        </div>
      </div>
      <div class="card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <h2 class="name">Frédéric Chopin</h2>
          <img
            class="circle-img"
            src="{% static 'images/default-img.png' %}"
            alt="avatar_img"
          />
        </div>
        <div class="bottom">
          <p class="role">Junior Developer</p>
          <p class="info">Jab, Say something about Yourself</p>
        </div>
      </div>
      <div class="card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <h2 class="name">Clara Schumann</h2>
          <img
            class="circle-img"
            src="{% static 'images/default-img.png' %}"
            alt="avatar_img"
          />
        </div>
        <div class="bottom">
          <p class="role">Frontend Designer</p>
          <p class="info">Kelsey, Say something about Yourself</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
